@model FitnessApp.Models.ExerciseModel
@{ 
    var path = $@"..\..\Images\ExercisePictures\{Model.ExerciseId}.jpg";
}

<tr>
    <td> <img src="@path" style=" height: 56px; width: 100px " /></td>
    <td><a class="btn-link text-dark" asp-controller="Exercise" asp-action="ShowExercise" asp-route-exerciseId="@Model.ExerciseId">@Model.Name</a></td>
    <td>@Model.Discription</td>
    <td>@Model.MuscleGroup</td>
    <td>
        <a asp-controller="Exercise" asp-action="Edit" asp-route-exerciseId="@Model.ExerciseId"><img src="..\..\Images\EditIcon.png" width="25" height="25" /></a>
        <a asp-controller="Exercise" asp-action="Delete" asp-route-exerciseId="@Model.ExerciseId" ><img src="..\..\Images\DeleteIcon.png" width="25" height="25" /></a>
    </td>
</tr>
