@model FitnessApp.Models.WorkoutModel

    <tr>
        <td><a class="btn-link text-dark" asp-controller="Workout" asp-action="ShowWorkout" asp-route-WorkoutId="@Model.WorkoutModelId">@Model.Name</a></td>
        <td>@Model.MuscleGroup</td>
        <td><a <a class="btn-link text-dark" asp-controller="Workout" asp-action="UseWorkout" asp-route-workoutId="@Model.WorkoutModelId">Use</a></td>
        <td><a asp-controller="Workout" asp-action="DeleteWorkout" asp-route-workoutId="@Model.WorkoutModelId"><img src="..\..\Images\DeleteIconWhite.png" width="25" height="25" /></a></td>
    </tr>
