@model FitnessApp.Models.ExerciseModel
<tr>
    <td>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <div>
            <label class="label">
                <input class="label__checkbox" type="checkbox" name="selectedExercises" value="@Model.ExerciseId" />
                <span class="label__text">
                    <span class="label__check">
                        <i class="fa fa-check icon"></i>
                    </span>
                </span>
            </label>
        </div>
        @*<input type="checkbox" name="selectedExercises" value="@Model.ExerciseId" />*@
    </td>
    <td>@Model.Name</td>
    <td>@Model.MuscleGroup</td>
    @Html.HiddenFor(m => m.ExerciseId)
</tr>