@model FitnessApp.Models.WorkoutModel
@{
    ViewData["Title"] = "ShowWorkout";
}

<h1>@Model.Name</h1>

@*<div>@Model.MuscleGroup</div>*@

<hr />
<div align="center">
    <table class="darkTable wide">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>#Sets</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in Model.Exercises)
            {
                var path = $@"..\..\Images\ExercisePictures\{exercise.ExerciseId}.jpg";
                <tr>
                    <td> <img src="@path" style=" height: 56px; width: 100px " /></td>
                    <td><a class="btn-link text-white" asp-controller="Exercise" asp-action="ShowExercise" asp-route-exerciseId="@exercise.ExerciseId">@exercise.Name</a></td>
                    <td>@exercise.Sets.Count()</td>
                    <td><a asp-controller="Workout" asp-action="DeleteExercise" asp-route-exerciseId="@exercise.ExerciseId" asp-route-workoutID="@Model.WorkoutModelId"><img src="..\..\Images\DeleteIconWhite.png" width="25" height="25" /></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

